{{ "<!-- Footer section -->" | safeHTML }}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="copyright">© CENTURY 21 DEUTSCHLAND</span>
        <ul class="list-inline">
          <li><small>Kostenfreie Hotline: 0800 723 73 94 | <a href="mailto:info@century21.de?subject=Vermietung" style="color:grey;"><span class="glyphicon glyphicon-envelope"></span> info@century21.de</a></small>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-inline quicklinks">
          <li><a href="https://century21.de/page/legal">IMPRESSUM</a></li>
          <li>|</li>
          <li><a href="https://century21.de/page/datenschutz">DATENSCHUTZERKLÄRUNG</a></li>
        </ul>
        <small>AUSTRAGEN<br>
          Dieses Dienstleistung erhalten Sie nur bei teilnehmenden Century 21 Büros. Jedes Century 21 Büro ist rechtlich und wirtschaftlich ein selbstständiges Unternehmen.</small>
        </div>
      </div>
    </div>
  </footer>
