<div id="feedback" class="pull-right hidden-sm hidden-sx">
  <div id="feedback-form" style='display:none;' class="col-xs-4 col-md-4 panel panel-default pull-right fade in">
    <form method="POST" action="https://hooks.zapier.com/hooks/catch/325416/468i55/" class="form panel-body" role="form">
	  <input type="hidden" name="Typ" value="Vermietung" />	
      <h3>Interessiert?</h3>
      <p class="small">Fordern Sie unverbindlich weitere Informationen an:</p>
      <div class="form-group"><label class="text-muted small">Ihr Name</label>
        <input class="form-control" name="name" autofocus placeholder="Vorname / Nachname" type="text" />
      </div>
      <div class="form-group"><label class="text-muted small">Immobilie in</label>
        <input class="form-control" name="ort" placeholder="PLZ / Ort" type="text" />
      </div>
      <div class="form-group"><label class="text-muted small">Telefon</label>
        <input class="form-control" name="mobilnummer" placeholder="Mobilnummer" type="text" />
      </div>
      <div class="form-group"><label class="text-muted small">E-Mail</label>
        <input class="form-control" name="email" placeholder="E-Mail-Adresse" type="email" />
      </div>
      <div class="text-center">
        <button class="btn btn-primary  btn-sm" type="submit"> Jetzt Informationen anfordern </button>
      </div>
    </form>
  </div>
  <div id="feedback-tab" class="hidden-sm hidden-sx hidden-xs">Interessiert?</div>
</div>
<div id="feedback" class="pull-right hidden-md hidden-lg">
  <div id="feedback-tab" class="hidden-md hidden-lg"><a href="#contact" class="form-link page-scroll">Interessiert?</a></div>
</div>
