{{ "<!-- Entspannt vermieten -->" | safeHTML }}
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">Entspannt vermieten – Geld und Nerven sparen: Century 21 Vermieterservice zum Fixpreis.</h2>
        <h3 class="section-subheading text-muted">Die Vermietung einer Immobilie kann viel Zeit in Anspruch nehmen: das Erstellen von Grundrissen, das Schalten von Exposés, Korrespondenz mit Interessenten, Besichtigungen die abgesagt werden, und und und ... Überlassen Sie dies dem Century 21 Makler zum erfolgsbasierten Fixpreis.
          <br><br>
          Unser Paket umfasst alle Dienste bis zur erfolgreichen Übergabe Ihrer Wohnung an den neuen Mieter. Unter anderem:
        </h3>
      </div>
    </div>
    <ul class="list-group row">
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Mietwertanalyse</li>
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Immobilien-Exposé</li>
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Inserate auf Immobilien-Portale</li>
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Virtuelle 360°-Tour</li>
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Grundrisse</li>
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Besichtigungen</li>
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Haus & Grund Mietvertrag</li>
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Bonitätssicherung der Bewerber</li>
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Übergabe der Mietsache</li>
      <li class="list-group-item col-sm-6"><span class="fa fa-thumbs-o-up icon-thumbs"></span> Vermarktung im Century 21 Netzwerk</li>
    </ul>
  </div>
</section>
{{ "<!-- Comparison Section -->" | safeHTML }}
<section id="portfolio" class="bg-light-gray rent__competition competition-comparison page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">Der Century 21 Fixpreis im Vergleich</h2>
        <h3 class="section-subheading text-muted">Seit Einführung des Bestellerprinzip verlangen viele Makler bis zu 2,38 Kaltmieten Provision vom Vermieter.<br /><br />Es geht auch anders! Mit dem Century 21 Fixpreis vermieten Sie Ihre Immobilie ohne Aufwand mit einem Partner der auf mehr als 40 Jahre Erfahrung zurückgreifen kann.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="{{ .Site.BaseURL }}img/3boxes_1.png"  class="center-block img-responsive" alt="Century 21 Fixpreis">
	  </div>
	</div>
    <!-- calculator -->
    <div class="row text-center visible-xs visible-sm">
      <div class="col-xs-6 col-sm-6">
        <p class="pig-value pig-value-header">
          <span class="pig-font-black">Sie bezahlen <span data-role="comparison-century21-commission">490</span>€</span><br>
          Und sparen somit
        </p>
        <p class="pig-value pig-value-content small" data-role="comparison-savings">692</p>
      </div>
      <div class="col-xs-4 col-sm-6 base-stack-value base-stack-value-low text-center">
        <p class="small">Sie bezahlen</p>
        <p data-role="comparison-competition-commission" class="small">1.190<span class="currency">€</span></p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 hidden-sm hidden-xs pig-grid">
        <p class="pig-value pig-value-header">Sie sparen</p>
        <p class="pig-value pig-value-content" data-role="comparison-savings">692</p>
      </div>
      <div class="col-lg-1 col-md-1 hidden-sm hidden-xs pig-icon text-right no-side-paddings">
        <img class="pig-image" src="{{ .Site.BaseURL }}img/pig_low.png" alt="Century 21 sparing">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 stack-container">
        <div class="base-stack-image left"  id="century21-money-stack">
          <img class="black-base-stack" src="{{ .Site.BaseURL }}img/money_orange_low.png" alt="Century 21 sparing">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 stack-container">
        <div class="base-stack-image" id="traditional-money-stack">
          <img class="black-base-stack traditional-base-stack" src="{{ .Site.BaseURL }}img/money_black_low.png" alt="Century 21 sparing">
        </div>
      </div>
    </div>
    <div class="row visible-lg visible-md big-bottom-margin">
      <div class="col-lg-4 col-md-4">
        <div class="base-stack-value text-right">
          <p class="small">Sie bezahlen</p>
          <p class="text-right small"><span data-role="comparison-century21-commission">490</span><span class="currency">€</span></p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="base-stack-name base-stack-name-century21">
          CENTURY 21
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="base-stack-name base-stack-value-traditional">
          Traditionelle Makler
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="base-stack-value base-stack-value-low text-left">
          <p class="small">Sie bezahlen</p>
          <p data-role="comparison-competition-commission" class="small">
            1.190
            <span class="currency">€</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row text-center visible-sm visible-xs big-bottom-margin">
      <div class="col-xs-6 col-sm-6">
        <div class="base-stack-name base-stack-name-century21">
          Century 21
        </div>
      </div>
      <div class="col-xs-6 col-sm-6">
        <div class="base-stack-name base-stack-value-traditional">
          Traditionelle Makler
        </div>
      </div>
    </div>
    <div class="slider-container">
      <div class="slider-element" data-role="comparison-slider"></div>
      <div class="slider-labels">
        <div class="slider-bottom"><span data-role="comparison-min-budget">400</span><span class="currency">&nbsp;€</span></div>
        <div class="slider-label">Kaltmiete Ihrer Immobilie</div>
        <div class="slider-max"><span data-role="comparison-max-budget">4.000</span><span class="currency">&nbsp;€</span></div>
      </div>
    </div>
    <!-- calculator -->
  </div>
</section>
<section id="wissensie">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">Wissen Sie wo Ihr Interessent sucht?</h2>
        <h3 class="section-subheading text-muted">Nein? Wir auch nicht! Jede Immobilie ist einzigartig, genauso wie die Interessenten welche diese besichtigen möchten. Deshalb schalten wir Ihre Immobilie auf über 100 Immobilienportale auf, selbstverständlich auch auf die marktführenden Portale ImmobilienScout24, Immonet und Immowelt.</h3>
        <div class="row">
          <div class="col-md-4">
            <a href="http://immobilienscout24.de" class="thumbnail" target="_blank">
              <img alt="immobilienscout24.de" src="{{ .Site.BaseURL }}img/logos/logo-immobilien-scout24.svg" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4">
            <a href="http://immonet.de" class="thumbnail" target="_blank">
              <img alt="immonet.de" src="{{ .Site.BaseURL }}img/logos/logo_immonet.png" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4">
            <a href="http://immowelt.de" class="thumbnail" target="_blank">
              <img alt="immowelt.de" src="{{ .Site.BaseURL }}img/logos/logo_immowelt.png" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="einerechnung" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">Eine Rechnung – aber nur im Erfolgsfall</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1">
        <h1 class="fa fa-file-text-o title-xxl-fa icon-thumbs"></h1>
      </div>
      <div class="col-md-11 col-sm-11">
        <h3 class="section-subheading text-muted">
          Sie möchten keine Kreditkarten-Abbuchung? Keine Lastschrift? Und natürlich nur zahlen wenn wir auch einen Mieter bringen der Ihnen passt? Genau so ist es! Sie erhalten eine Rechnung wenn Sie mit dem von uns nachgewiesenen Mieter einen Mietvertrag abschließen – sind wir erfolglos nehmen wir das auf unsere Kappe und Sie zahlen nichts.</h3>
        </div>
      </div>
    </div>
  </section>
  <section id="tour">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading">Die 360°-Tour durch Ihre Immobilien</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1">
          <h1 class="fa fa fa-repeat title-xxl-fa icon-thumbs"></h1>
        </div>
        <div class="col-md-11 col-sm-11">
          <h3 class="section-subheading text-muted">Als Innovation von Century 21 erstellen wir für Ihre Immobilie eine echte 360°-Tour – damit potentielle Mieter die Immobilie zu jeder Zeit besichtigen können. Durch unsere führende Technik erhalten Ihre neuen Mieter die Gelegenheit die Wohnung auch nach der Besichtigung mehrmals zu begehen – damit Sie langjährige Mieter gewinnen.</h3>
        </div>
      </div>
    </div>
  </section>
  <section id="inzahlen" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-center">CENTURY 21 in Zahlen</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h1 class="text-center">40</h1>
          <p class="text-center">Standorte bundesweit</p>
        </div>
        <div class="col-md-3">
          <h1 class="text-center">200.000+</h1>
          <p class="text-center">Immobilien in der Vermarktung weltweit</p>
        </div>
        <div class="col-md-3">
          <h1 class="text-center">44 Jahre</h1>
          <p class="text-center">Erfahrung als Immobilienmakler</p>
        </div>
        <div class="col-md-3">
          <h1 class="text-center">100%</h1>
          <p class="text-center">Einsatz für Ihr Objekt</p>
        </div>
      </div>
    </div>
  </section>
  <section id="kontaktieren">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading">Verlieren Sie keine Zeit – kontaktieren Sie uns jetzt!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1">
          <h1 class="fa fa fa-clock-o title-xxl-fa icon-thumbs"></h1>
        </div>
        <div class="col-md-11 col-sm-11">
          <h3 class="section-subheading text-muted">Wir wissen es: Zeit ist Geld. Ein Leerstand in einer Immobilie kann teuer werden. Kontaktieren Sie uns deshalb jetzt: wir werden uns umgehend mit Ihnen für einen kostenfreien und unverbindlichen Beratungstermin in Verbindung setzen. Nutzen Sie das nebenstehende Kontaktformular oder rufen Sie uns kostenfrei an: 0800 723 73 94.</h3>
        </div>
      </div>
    </div>
  </section>
